
:root{

  --primarycolor:hsl(199,100%,33%);
  --secondarycolor:hsl(187,85%,43%);
  --gradiantcolor:linear-gradient(to right,hsl(187, 85%, 43%),hsl(199, 100%, 33%));
  --whitecolor:rgb(255, 255, 255);
  --blackcolor:rgb(18, 17, 17);
  --whitecolordeam:rgb(248, 240, 240);
  --graytext: rgb(128, 128, 128);
  --inputcolor:rgb(239,239,239);
  --bodycolor:rgb(240,240,240);
  --cardbg:rgb(225,225,235);
  
  }
.home{
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    .overlay{
      position: absolute;
      height: 100%;  
      width: 100%;
      background: rgb(47,106,127);
      top: 0;
      bottom: 0;
      z-index: 1;
      mix-blend-mode: hard-light;
    }
    video{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      object-fit: cover;


    }
    .homecontent{
      width: 100%;
      height: max-content;
      padding: 8rem 1.5rem 3rem;
      display: flex;
      row-gap: 3rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: var(--whitecolor);
      z-index: 100;
      .textdiv{
        padding: 2rem 0;

        
        .hometitle{
          position: relative;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .carddiv{
        position: relative;
        padding: 2rem 1rem;
        background: white;
        border-radius: 10px;
        gap: 1rem;
        

        label{
          display: block;
          color:var(--graytext);
          padding-bottom: 10px;
          font-size: 13px;
          font-weight: 500;
        }
        .lable_total{
          justify-content: space-between;
          align-items: center;

          
          .total{
            color:var(--graytext);
            font-size: 18px;
            padding-bottom: 20px;
          
          }
         
        }
       
        .input{
          height: 40px;
          padding: 0 1rem;
          background: var(--inputcolor);
          border-radius: 3rem;

          input{
            background: none;
            border: none;
            outline: none;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            &::placeholder{
              font-size: 13px;

            }
          }
         
          .input[type=range]{
            background: blue;
          }

        }
        .searchoption{
          position: absolute;
          background:var(--secondarycolor);
          width: max-content;
          bottom: -0.7rem;
          column-gap: 0.8rem;
          padding: 5px;
          border-radius: 3rem;
          left: 50%;
          transform: translate(-50%);
          justify-content: center;
          cursor: pointer;
          &:hover{
            background:var(--primarycolor);
          }
          .icon{
            font-size: 18px;

          }
          span{
            font-size: 13px;
          }


        }

      }


      .homefootericon{
        width: 100%;
        justify-content: space-between;

        .icon{
          font-size: 20px;
          margin: 0 5px;
          color: var(--whitecolor);
          font-weight: 600;
          &:hover{
            color: var(--primarycolor);
          }

        }
      }

      

      

    }
}


@media screen and (min-width:500px){
  .home{
    .homecontent{
     .textdiv{
      .smalltext{
        font-size: 16px;
      }
      .hometile{
        position: relative;
        font-size: 2.3rem;
        width: max-content;


        &::after{
          position: absolute;
          content: '';
          background: var(--secondarycolor);
         
          height: 5px;
          width: 145px;
          right: 0px;
          bottom: 5px;
          z-index: -1;
        }
      }
     }

     .carddiv{
      grid-template-columns: repeat(2,fr);
     }
    }
  }
}


@media screen and (min-width:660px){
.home{
  .homecontent{
    .carddiv{
      padding: 2rem 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
}

@media screen and (min-width:940px){
  .home{
    height: 85vh;
  }
  }

  @media screen and (min-width:1240px){
    .home{
      height: 95vh;
      
        .homecontent{
          padding-left:0 ;
          padding-right:0;

          .carddiv{
            padding: 1rem 2rem;
            grid-template-columns: repeat(4, 1fr);

            .input{
              margin-bottom: 1rem;
            }
            .searchoption{
              bottom: -1rem;
              padding: 8px 1rem;

              span{
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    


